.category-list img.category-logo {
  display: none !important;
}

#slackClient #messageList a {
  color: #b82101 !important;
}

.cooked a {
  color: #b82101 !important;
}
.cooked a:active, .cooked a:hover, .cooked a:visited {
  color: #791500 !important;
}

.similar-topics, .composer-popup {
	background: #f5f5f5 !important;
}

.desktop-view .d-header .contents {
    top: -113px !important;
} 

.desktop-view body.rb-has-hero-section .d-header .contents{
    top: -83px !important;
}

.mobile-view #topic-progress-wrapper {
	right: 5px !important;
    bottom: 39px !important;
}


.mobile-view .d-header .contents {
    top: 1.5em !important;
    right: 4px !important;
} 

.mobile-view .docked .d-header .contents ul.d-header-icons
{
    margin:0 1em 0 5px;
}

.categories-list .category-logo.aspect-image {
  width: auto;
  display: block;
}
.categories-list .category-logo.aspect-image img {
  width: auto;
}


.category-letsmakerobots.categories-list .category-logo.aspect-image {
  width: 100%;
  max-width: 100%;
  display: block;
}
.category-letsmakerobots.categories-list .category-logo.aspect-image img {
  width: auto;
}
.category-heading a {
  color: #ce2501;
}

#reply-control .select-kit.combo-box.category-chooser .select-kit-row[data-value='2'],
#reply-control .select-kit.combo-box.category-chooser .select-kit-row[data-value='4'],
#reply-control .select-kit.combo-box.category-chooser .select-kit-row[data-value='8'],
#reply-control .select-kit.combo-box.category-chooser .select-kit-row[data-value='9'],
#reply-control .select-kit.combo-box.category-chooser .select-kit-row[data-value='10'],
#reply-control .select-kit.combo-box.category-chooser .select-kit-row[data-value='12'],
#reply-control .select-kit.combo-box.category-chooser .select-kit-row[data-value='13'],
#reply-control .select-kit.combo-box.category-chooser .select-kit-row[data-value='14'],
#reply-control .select-kit.combo-box.category-chooser .select-kit-row[data-value='13'],
#reply-control .select-kit.combo-box.category-chooser .select-kit-row[data-value='36'] {
  display: none;
}