.category-list img.category-logo {
  display: none !important;
}

#slackClient #messageList a {
  color: #b82101 !important;
}

.cooked a {
  color: #b82101 !important;
}
.cooked a:active, .cooked a:hover, .cooked a:visited {
  color: #791500 !important;
}

.similar-topics, .composer-popup {
	background: #f5f5f5 !important;
}