.category-list img.category-logo {
  display: none !important;
}

#slackClient #messageList a {
  color: #b82101 !important;
}

.cooked a {
  color: #b82101 !important;
}
.cooked a:active, .cooked a:hover, .cooked a:visited {
  color: #791500 !important;
}

.similar-topics, .composer-popup {
  background: #f5f5f5 !important;
}

.desktop-view .d-header .contents {
    top: -80px !important;
} 

.desktop-view body.rb-has-hero-section .d-header .contents.clearfix {
    top: -83px !important;
}

.mobile-view #topic-progress-wrapper {
  right: 5px !important;
    bottom: 39px !important;
}

#toggle-hamburger-menu {
    width:2.2857em !important;
}

.mobile-view .d-header .contents {
    top: 1.5em !important;
    right: 4px !important;
} 

.mobile-view .docked .d-header .contents ul.d-header-icons
{
    margin:0 1em 0 5px;
}

.mobile-view .d-header-icons {
    top: -75px !important;
    right: -25px !important;
} 


.categories-list .category-logo.aspect-image {
  width: auto;
  display: block;
}
.categories-list .category-logo.aspect-image img {
  width: auto;
}


.category-letsmakerobots.categories-list .category-logo.aspect-image {
  width: 100%;
  max-width: 100%;
  display: block;
}
.category-letsmakerobots.categories-list .category-logo.aspect-image img {
  width: auto;
}
.category-heading a {
  color: #ce2501;
}

#reply-control .select-kit.combo-box.category-chooser .select-kit-row[data-value='2'],
#reply-control .select-kit.combo-box.category-chooser .select-kit-row[data-value='4'],
#reply-control .select-kit.combo-box.category-chooser .select-kit-row[data-value='8'],
#reply-control .select-kit.combo-box.category-chooser .select-kit-row[data-value='9'],
#reply-control .select-kit.combo-box.category-chooser .select-kit-row[data-value='10'],
#reply-control .select-kit.combo-box.category-chooser .select-kit-row[data-value='12'],
#reply-control .select-kit.combo-box.category-chooser .select-kit-row[data-value='13'],
#reply-control .select-kit.combo-box.category-chooser .select-kit-row[data-value='14'],
#reply-control .select-kit.combo-box.category-chooser .select-kit-row[data-value='13'],
#reply-control .select-kit.combo-box.category-chooser .select-kit-row[data-value='36'] {
  display: none;
}

.edit-topic-title .select-kit.combo-box.category-chooser .select-kit-row[data-value='2'],
.edit-topic-title .select-kit.combo-box.category-chooser .select-kit-row[data-value='4'],
.edit-topic-title .select-kit.combo-box.category-chooser .select-kit-row[data-value='8'],
.edit-topic-title .select-kit.combo-box.category-chooser .select-kit-row[data-value='9'],
.edit-topic-title .select-kit.combo-box.category-chooser .select-kit-row[data-value='10'],
.edit-topic-title .select-kit.combo-box.category-chooser .select-kit-row[data-value='12'],
.edit-topic-title .select-kit.combo-box.category-chooser .select-kit-row[data-value='13'],
.edit-topic-title .select-kit.combo-box.category-chooser .select-kit-row[data-value='14'],
.edit-topic-title .select-kit.combo-box.category-chooser .select-kit-row[data-value='13'],
.edit-topic-title .select-kit.combo-box.category-chooser .select-kit-row[data-value='36'] {
  display: none;
}


.staff .edit-topic-title .select-kit.combo-box.category-chooser .select-kit-row[data-value='2'],
.staff .edit-topic-title .select-kit.combo-box.category-chooser .select-kit-row[data-value='4'],
.staff .edit-topic-title .select-kit.combo-box.category-chooser .select-kit-row[data-value='8'],
.staff .edit-topic-title .select-kit.combo-box.category-chooser .select-kit-row[data-value='9'],
.staff .edit-topic-title .select-kit.combo-box.category-chooser .select-kit-row[data-value='10'],
.staff .edit-topic-title .select-kit.combo-box.category-chooser .select-kit-row[data-value='12'],
.staff .edit-topic-title .select-kit.combo-box.category-chooser .select-kit-row[data-value='13'],
.staff .edit-topic-title .select-kit.combo-box.category-chooser .select-kit-row[data-value='14'],
.staff .edit-topic-title .select-kit.combo-box.category-chooser .select-kit-row[data-value='13'],
.staff .edit-topic-title .select-kit.combo-box.category-chooser .select-kit-row[data-value='36'] {
  display: block;
}

  
.category-list .subcategories .badge-wrapper[href*="/community/forum/c/community/news"],  
table.category-list [data-category-id="142"], 
.category-list .subcategories .badge-wrapper[href*="/community/forum/c/community/blog"],  
table.category-list [data-category-id="11"],  
.category-list .subcategories .badge-wrapper[href*="/community/forum/c/community/tutorials"], 
table.category-list [data-category-id="9"], 
.category-list .subcategories .badge-wrapper[href*="/community/forum/c/community/robots"],  
table.category-list [data-category-id="8"]  
{ 
  display: none;  
}


li.header-dropdown-toggle.search-dropdown{
    display:none !important;
}

.mobile-view .docked .d-header .extra-info-wrapper .topic-header-extra, .mobile-view .docked .d-header .extra-info-wrapper .topic-header-extra .discourse-tags .discourse-tag {
  color: white !important;
}

#main-outlet #banner {
    max-width: 99%;
    background: transparent;
}

img[src*="http://www.robotshop.com/community/forum/uploads/"]{
    display: none;
}

.docked .d-header #site-logo {
    display: none;
}