a {
	color: #545454;
}
a:active, a:hover, a:visited {
	color: #545454;
}

// .tutorials {
// 	a {
// 		color: #009638;
// 	}
// }

// .robots {
// 	a {
// 		color: #0b889e;
// 	}
// }
html {
	background-color: transparent;
}
.cooked a, .d-editor-preview a {
	color: #b82101;
}

a.post-replies {
	color: #545454;
}
article.post {
	border-bottom: 1px solid #ddd;
	font-size: 16px;
}

article.post.deleted {
	background-color: #ffe5e5;
}

article.post .post-date {
	color: #aaa;
}

.username {
	margin-bottom: .25em;
}

.username a {
	color: #0a0a0a !important;
	background-color: transparent !important;
}

.username a.new-user {
	color: #0a0a0a;
}

.username span.title {
	color: #0a0a0a;
}

.in-reply-to {
	color: #0a0a0a;
}

.replies {
	color: #0a0a0a;
}

header .button, footer .button {
	color: white !important;
	background-color: #0a0a0a !important;
	padding: 8px 28px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

footer img {
	display: none;
}

.social-icons {
	display: inline-block;
	overflow: hidden;
	width: 32px;
	height: 32px;
	margin-right: .5em;
	background-image: url("/community/web/build/images/common/sprite-social.png");
	text-indent: -9000px; }
.social-icons.social-icon-twitter {
	background-position: 0 0; }
.social-icons.social-icon-facebook {
	background-position: -64px 0; }
.social-icons.social-icon-youtube {
	background-position: -128px 0; }
.social-icons.social-icon-mail {
	background-position: -256px 0; }
.social-icons.social-icon-blog {
	background-position: -192px 0; }
.social-icons.social-icon-instagram {
	background-position: -320px 0; }
.social-icons.social-icon-slack {
	background-position: -384px 0; }
.social-icons.social-icon-rss {
	background-image: url("/community/web/build/images/common/icon-rss.png"); }